<?xml version="1.0"?>
<config>
    <modules>
        <Technooze_Tcustomerattributes>
            <version>0.0.1</version>
        </Technooze_Tcustomerattributes>
    </modules>
    <global>        
        <helpers>
            <tcustomerattributes>
                <class>Technooze_Tcustomerattributes_Helper</class>
            </tcustomerattributes>  
        </helpers>
        <models>
            <tcustomerattributes>
                <class>Technooze_Tcustomerattributes_Model</class>
            </tcustomerattributes>  
        </models>
        <blocks>
            <tcustomerattributes>
                <class>Technooze_Tcustomerattributes_Block</class>
            </tcustomerattributes>            
        </blocks>
    </global>
    <admin>
        <routers>
            <tcustomerattributes>
                <use>admin</use>
                <args>
                    <module>Technooze_Tcustomerattributes</module>
                    <frontName>tcustomerattributes</frontName>
                </args>
            </tcustomerattributes>
        </routers>
    </admin>
    <adminhtml>
        <menu>                        
            <customer>
                <children>                  
                    <tcustomerattributes_adminhtml_index>
                        <title>Customer Attributes Manager</title>
                        <action>tcustomerattributes/adminhtml_index</action>
                        <sort_order>12</sort_order>
                    </tcustomerattributes_adminhtml_index>                                                                           				                                                                             
                </children>                    
            </customer>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <customer>
                            <children>
                                <Technooze_Tcustomerattributes>
                                    <title>Customer Attribute Manager</title>
                                    <sort_order>50</sort_order>
                                </Technooze_Tcustomerattributes>
                            </children>
                        </customer>
                    </children>                   
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <attribute>
                    <file>tcustomerattributes.xml</file>
                </attribute>                
            </updates>
        </layout>
    </adminhtml>
</config>
